<p-accordion class="block-accordion">
  <p-accordionTab [selected]="'true'" [header]="'Character Info - Level : ' + character.information.level">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-input-text [placeholder]="'Class'" [value]="character.information.classType"></app-input-text>
        </ion-col>
        <ion-col>
          <app-input-text [placeholder]="'Race'" [value]="character.information.race"></app-input-text>
        </ion-col>
        <ion-col>
          <app-input-text [placeholder]="'Theme'" [value]="character.information.theme"></app-input-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </p-accordionTab>
</p-accordion>