<p-accordion class="block-accordion">
  <p-accordionTab [selected]="'true'" [header]="'CHARACTER.BLOCK.INFORMATION.TITLE' | translate">
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-input-text [placeholder]="'CHARACTER.BLOCK.INFORMATION.CLASS' | translate" [value]="character.information.classType"></app-input-text>
        </ion-col>
        <ion-col>
          <app-input-text [placeholder]="'CHARACTER.BLOCK.INFORMATION.RACE' | translate" [value]="character.information.race"></app-input-text>
        </ion-col>
        <ion-col>
          <app-input-text [placeholder]="'CHARACTER.BLOCK.INFORMATION.THEME' | translate" [value]="character.information.theme"></app-input-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </p-accordionTab>
</p-accordion>