<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button [size]="'large'" (click)="createNewCharacter()">
    <ion-icon name="add-circle-outline"></ion-icon>
    Create
  </ion-button>
  <h5>My Characters :</h5>
  <ion-card *ngFor="let char of charactersList" (click)="goToCharacter(char)">
    <ion-card-header>
      {{char?.information?.name}}
    </ion-card-header>
    <ion-card-content>
      ID : {{char?.id}}
    </ion-card-content>
  </ion-card>
</ion-content>