@import "../../../../../theme/variables.scss";

.card-ability {
  margin: 0;
  ion-card-header {
    font-family: $app-main-font;
    padding: 0;
    height: 33px;
    text-align: center;
    background-color: $app-dark-turquoise;
    color: $app-white;
    .short-label {
      font-size: 18px;
      margin-top: 0;
      padding-top: 2px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .long-label {
      font-size: 10px;
      position: absolute;
      top: 19px;
      left: 0px;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  ion-card-content {
    font-family: $app-main-font;
    padding: 0;
    text-align: center;
    margin-top: -2px; 
    h2 {
      font-size: 20px;
      margin-bottom: 0;
    }
    ::ng-deep .p-spinner {
      width: 100%;
      .p-spinner-input {
        padding: 3px 12px 3px 5px;
        font-family: $app-main-font;
        height: 30px;
        width: 100%;
        border: none;
        border-radius: 0;
        font-size: 20px;
      }
      .p-spinner-button {
        width: 12px;
        font-size: 10px;
        background: transparent;
        color: black;
        border: none;
      }
    }
    label {
      font-size: 0.6em;
    }
  }
}