@import "../../../../../theme/variables.scss";

.ui-float-label {
    font-family: $app-main-font;
    height: 40px;
    .ui-inputtext {
        padding-left: 0;
        padding-bottom: 0;
        color: $app-input-value-color;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #a6a6a6;
        width: 100%;
    }
    &>label {
        top: 10px;
        margin-top: 0; 
    }
    &>input.ui-state-filled ~ label, &>input:focus ~ label {
        top: 30px;
        left: 0;
    }
}