.ui-float-label {
    font-family: 'Coda', cursive;
    .ui-inputtext {
        font-family: 'Prosto One', cursive;
        padding-left: 0;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #a6a6a6;
        width: 100%;
    }
}