<ion-header class="character-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div>
        <div class="character-name">{{character?.information?.name}}</div>
        <div class="character-level">
          <div class="level-label">{{ 'CHARACTER.LEVEL.TITLE' | translate }}</div>
          <div class="level-value">{{character?.information?.level}}</div>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="character-sheet-container">
  <div class="health-resolve-row">
    <app-health-resolve-block [editMode]="editMode" [character]="character"></app-health-resolve-block>
  </div>
  <div class="slides-container">
    <ion-slides #slidesContainer [pager]="false">
      <ion-slide>
        <ion-grid class="character-blocks-container">
          <ion-row>
            <ion-col>
              <app-char-info-block [editMode]="editMode" [character]="character"></app-char-info-block>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-description-block [editMode]="editMode" [character]="character"></app-description-block>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid class="character-blocks-container">
          <ion-row>
            <ion-col>
              <app-abilities-score-block [editMode]="editMode" [character]="character"></app-abilities-score-block>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [sizeXs]="12" [sizeSm]="6">
              <app-skills-block [editMode]="editMode" [character]="character"></app-skills-block>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid class="character-blocks-container">
          <ion-row>
            <ion-col>
              <app-armor-class-block [editMode]="editMode" [character]="character"></app-armor-class-block>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-saving-throws-block [editMode]="editMode" [character]="character"></app-saving-throws-block>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <h1>{{ 'CHARACTER.SLIDES.WEAPONS' | translate }}</h1>
      </ion-slide>
    </ion-slides>
  </div>
</div>
<div class="tabs-container">
  <ion-tab-bar slot="bottom" [selectedTab]="activeSlide">
    <ion-tab-button [tab]="0" (click)="goToSlide(0)">
      <ion-label>{{ 'CHARACTER.SLIDES.INFORMATIONS' | translate }}</ion-label>
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [tab]="1" (click)="goToSlide(1)">
      <ion-label>{{ 'CHARACTER.SLIDES.CHARACTERISTICS' | translate }}</ion-label>
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [tab]="2" (click)="goToSlide(2)">
      <ion-label>{{ 'CHARACTER.SLIDES.ARMOR' | translate }}</ion-label>
      <ion-icon name="body"></ion-icon>
    </ion-tab-button>
    <ion-tab-button [tab]="3" (click)="goToSlide(3)">
      <ion-label>{{ 'CHARACTER.SLIDES.WEAPONS' | translate }}</ion-label>
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</div>


<ion-fab *ngIf="!editMode" class="bottom-sheet-fab" vertical="bottom" horizontal="end">
  <ion-fab-button color="primary" class="main-button">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="mail"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="activateEditMode()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-fab *ngIf="editMode" class="bottom-sheet-fab" vertical="bottom" horizontal="end">
  <ion-fab-button color="primary" class="main-button" (click)="saveCharacter()">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>