// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

:root {
    ion-item {
        --padding-start: 0;
        ion-label, ion-select {
            font-family: $app-main-font !important;
            font-size: 14px !important;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
            color: $app-dark-turquoise;
        }
    }
    ion-input {
        --padding-bottom: 0;
        font-family: $app-main-font !important;
        font-size: 14px !important;
        color: $app-dark-turquoise;
        text-align: right;
    }
}
